<!DOCTYPE html>
<html>
<head>
    <title>WPScan-CI Result</title>
</head>
<body>
    <h1>WPScan-CI on {{ data.target_url }}</h1>
    <p>{{ data.banner.description }}</p>
    <p>Version: {{ data.banner.version }}</p>
    <h2>Infos:</h2>
      <ul>
        {% for author in data.banner.authors %}
          <li>{{ author }}</li>
        {% endfor %}
	<li>Target URL : {{ data.target_url }}</li>
	<li>Target IP : {{ data.target_ip }}</li>
      </ul>
    <h2>Interesting Findings</h2>
    <table border="1">
        <tr>
            <th>URL</th>
            <th>Found By</th>
            <th>Interesting Entries</th>
        </tr>
        {% for finding in data.interesting_findings %}
        <tr>
            <td>{{ finding.url }}</td>
            <td>{{ finding.found_by }}</td>
            <td>
                <ul>
                    {% for entry in finding.interesting_entries %}
                        <li>{{ entry }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </table>
    <h2>Version Information</h2>
    <table border="1">
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
      <tr>
        <td>Number</td>
        <td>{{ data.version.number }}</td>
      </tr>
      <tr>
        <td>Release Date</td>
        <td>{{ data.version.release_date }}</td>
      </tr>
      <tr>
        <td>Status</td>
        <td>{{ data.version.status }}</td>
      </tr>
      <tr>
        <td>Interesting Entries</td>
        <td>
            <ul>
                {% for entry in data.version.interesting_entries %}
                    <li>{{ entry }}</li>
                {% endfor %}
            </ul>
        </td>
      </tr>
    </table>
    <h2>Theme Information</h2>
    <table border="1">
    <tr>
        <th>Field</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Slug</td>
        <td>{{ data.main_theme.slug }}</td>
    </tr>
    <tr>
        <td>Location</td>
        <td>{{ data.main_theme.location }}</td>
    </tr>
    <tr>
        <td>Latest Version</td>
        <td>{{ data.main_theme.latest_version }}</td>
    </tr>
    <tr>
        <td>Last Updated</td>
        <td>{{ data.main_theme.last_updated }}</td>
    </tr>
    <tr>
        <td>Outdated</td>
        <td>{{ data.main_theme.outdated }}</td>
    </tr>
    <tr>
        <td>Readme URL</td>
        <td>{{ data.main_theme.readme_url }}</td>
    </tr>
    <tr>
        <td>Directory Listing</td>
        <td>{{ data.main_theme.directory_listing }}</td>
    </tr>
    <tr>
        <td>Error Log URL</td>
        <td>{{ data.main_theme.error_log_url }}</td>
    </tr>
    <tr>
        <td>Style URL</td>
        <td>{{ data.main_theme.style_url }}</td>
    </tr>
    <tr>
        <td>Style Name</td>
        <td>{{ data.main_theme.style_name }}</td>
    </tr>
    <tr>
        <td>Author</td>
        <td>{{ data.main_theme.author }}</td>
    </tr>
    <tr>
        <td>Template</td>
        <td>{{ data.main_theme.template }}</td>
    </tr>
    <tr>
        <td>License</td>
        <td>{{ data.main_theme.license }}</td>
    </tr>
    <tr>
        <td>License URI</td>
        <td>{{ data.main_theme.license_uri }}</td>
    </tr>
    <tr>
        <td>Text Domain</td>
        <td>{{ data.main_theme.text_domain }}</td>
    </tr>
    <tr>
        <td>Version Number</td>
        <td>{{ data.main_theme.version.number }}</td>
    </tr>
    <tr>
        <td>Version Interesting Entries</td>
        <td>
            <ul>
                {% for entry in data.main_theme.version.interesting_entries %}
                    <li>{{ entry }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    </table>
    <h2>Plugins Information</h2>
    <table border="1">
    <tr>
        <th>Plugins</th>
        <th>Info</th>
    </tr>
    {% for plugin_key, plugin_value in data.plugins.items() %}
    <tr>
        <td>{{ plugin_key }}</td>
        <td>{{ plugin_value }}</td>
    </tr>
    {% endfor %}
    </table>
    </table>
    <h2>Config Backups</h2>
    <table border="1">
    <tr>
        <th>ConfigBackups</th>
        <th>Info</th>
    </tr>
    {% for configbackups_key, configbackups_value in data.config_backups.items() %}
    <tr>
        <td>{{ configbackups_key }}</td>
        <td>{{ configbackups_value }}</td>
    </tr>
    {% endfor %}
    </table>
    </table>
    <h2>DB Exports</h2>
    <table border="1">
    <tr>
        <th>DB Export</th>
        <th>Info</th>
    </tr>
    {% for dbexports_key, dbexports_value in data.db_exports.items() %}
    <tr>
        <td>{{ dbexports_key }}</td>
        <td>{{ dbexports_value }}</td>
    </tr>
    {% endfor %}
    </table>
    <h2>Users Information</h2>
    <table border="1">
    <tr>
        <th>User</th>
        <th>ID</th>
        <th>Found By</th>
        <th>Confirmed By</th>
    </tr>
    {% for username, user_data in data.users.items() %}
    <tr>
        <td>{{ username }}</td>
        <td>{{ user_data.id }}</td>
        <td>{{ user_data.found_by }}</td>
        <td>
            <ul>
                {% for confirmed_by_key, confirmed_by_data in user_data.confirmed_by.items() %}
                <li>{{ confirmed_by_key }} (Confidence: {{ confirmed_by_data.confidence }})</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    {% endfor %}
    </table>
    <p>Sponsor: {{ data.banner.sponsor }}</p>
    <!-- Autres parties du modèle en utilisant data.banner -->
</body>
</html>

